@media print {
    main {
      padding: 0.5cm;
    }
  
    .page-break {
      page-break-before: always;
    }
  
    .no-page-break {
      page-break-inside: avoid;
    }
  
    * {
      box-sizing: border-box;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      orphans: 3;
      widows: 3;
    }
    table {
      margin-top: 1cm;
      page-break-inside: auto;
    }
    tr {
      margin-top: 1cm;
      page-break-inside: avoid;
      page-break-after: auto;
    }
  }